.headline {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  /* identical to box height, or 33px */

  letter-spacing: 0.02em;

  /* Dark */

  color: #252a32;
}
