.toolbar {
  padding: 30px;
  border-right: solid;
  border-width: 1px;
  border-color: #e4e6f1;

  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: calc(50% - 5px);

    button {
      width: 100%;
    }
  }
}
